@import "tailwindcss";

:root {
  /* --primary: #000000; */
}

@theme inline {

  --color-panto-black: #1E1E1E;
  --color-panto-orange: #E58411;
  --color-panto-gray: #F7F7F7;
  --font-gilroy:var(--font-gilroy);
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.gilroy-regular {
  font-family: var(--font-gilroy);
  font-weight: 400;
}

.gilroy-medium {
  font-family: var(--font-gilroy);
  font-weight: 500;
}

.gilroy-semibold {
  font-family: var(--font-gilroy);
  font-weight: 600;
}

.gilroy-bold {
  font-family: var(--font-gilroy);
  font-weight: 700;
}




::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.35);
}

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}
